stages:
  - build

variables:
  DB_NAME: UserDB
  DB_USER: postgres
  DB_PASSWORD: postgres
  DB_HOST: localhost
  DB_PORT: 5432
  DJANGO_SETTINGS_MODULE: "UserService.settings"

services:
  - postgres:latest

build:
  stage: build
  script:
    - pip install -r requirements.txt

test:
  stage: test
  script:
    - python manage.py test